<div class="row pageDimension">
  <div class="col">
    <div class="card cardShadow" style="width: 18rem;">        
        <div class="card-body bodyContent">
          <p class="card-text">
            <a href="javascript:" routerLink="/homeTemplate">Home Page Templates</a>
          </p>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card cardShadow" style="width: 18rem;">        
        <div class="card-body bodyContent">
          <p class="card-text">
            <a href="javascript:" routerLink="/preloader">Loaders</a>
          </p>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card cardShadow" style="width: 18rem;">        
        <div class="card-body bodyContent">
          <p class="card-text">
            <a href="javascript:" routerLink="/textAnimationTemplate">Text Animations</a>
          </p>
        </div>
    </div>
  </div>
</div>