<div class="bodyContent">
  <div class="content imgContent">
    <img class="imgClass1" src="assets/template1Images/3.png" alt="" height="70%" width="60%">
    <img class="imgClass2" src="assets/template1Images/1.png" alt="" height="70%" width="60%">
    <img class="imgClass3" src="assets/template1Images/3.png" alt="" height="70%" width="60%">    
  </div>
  <div class="content textContent">
    <p class="text1">Text 1</p>
    <p class="text2">Text 2</p>
    <p class="text3">Text 3</p>
  </div>
</div>
