<div class="row justify-content-between">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
              <b>HTML</b>
            </div>
            <div class="card-body cardHeightScroll">
              <p class="card-text code-container">
                {{htmlCode}}
              </p>              
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
              <b>CSS</b>
            </div>
            <div class="card-body cardHeightScroll">
              <p class="card-text code-container">
                {{cssCode}}
              </p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 50px;">
    <div class="col-sm-12">      
      <div class="card carBorderTransparent">
        <div class="card-body">
          <app-loader1></app-loader1>
        </div>
      </div>         
    </div>
</div>