/* You can add global styles to this file, and also import other style files */
.code-container{
    white-space: pre-wrap;
    margin-top: -20px;
    margin-bottom: -20px;
    padding-left: 4em;
    white-space: pre-wrap; /* To preserve line breaks */
    font-weight: bolder;
    font-size: large;
}

.cardHeightScroll{
    height: 300px !important; 
    overflow-y: auto !important;
}

.carBorderTransparent{
    border: 1px solid transparent !important;
}

.pageDimension{
    padding: 10px;
}

.cardShadow{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

body{
    background-image: url(../../app/src/assets/background.png);
    background-repeat: no-repeat;
}