<div class="row pageDimension">
    <div class="col">
      <div class="card cardShadow" style="width: 18rem;">                   
          <div class="card-body bodyContent">
            <h5>Text Animation 1</h5>
            <p class="card-text">
              <a href="javascript:" (click)="openTextAnimation1()">Demo and Code</a>
            </p>
          </div>
      </div>
    </div>

    <div class="col">
      <div class="card cardShadow" style="width: 18rem;">                   
          <div class="card-body bodyContent">
            <h5>Text Animation 2</h5>
            <p class="card-text">
              <a href="javascript:" (click)="openTextAnimation2()">Demo and Code</a>
            </p>
          </div>
      </div>
    </div>
</div>